<h3>Food:</h3>
<hr/>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col-1" (click)="changeHamburgerCount()"><img alt="" [src]="iconFood" style="height: 30px"></div>
    <div class="col" (click)="changeHamburgerCount()">Hamburger</div>
    <div class="col" style="font-size: 12px">(Price: <b>80</b> KGS)</div>
    <div class="col">x{{ hamburgerCount }}</div>
    <div class="col">Total: {{ getTotalHamburgerSum() }}</div>
    <div class="col text-right"><img alt="" [src]="iconDelete" style="height: 25px" (click)="deleteHamburger()"></div>
  </div>
</div>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col-1" (click)="changeCheeseburgerCount()"><img alt="" [src]="iconFood" style="height: 30px"></div>
    <div class="col" (click)="changeCheeseburgerCount()">Cheeseburger</div>
    <div class="col" style="font-size: 12px">(Price: <b>90</b> KGS)</div>
    <div class="col">x{{ cheeseburgerCount }}</div>
    <div class="col">Total: {{ getTotalCheeseburgerSum() }}</div>
    <div class="col text-right"><img alt="" [src]="iconDelete" style="height: 25px" (click)="deleteCheeseburger()"></div>
  </div>
</div>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col-1" (click)="changeFriesCount()"><img alt="" [src]="iconFood" style="height: 30px"></div>
    <div class="col" (click)="changeFriesCount()">Fries</div>
    <div class="col" style="font-size: 12px">(Price: <b>45</b> KGS)</div>
    <div class="col">x{{ friesCount }}</div>
    <div class="col">Total: {{ getTotalFriesSum() }}</div>
    <div class="col text-right"><img alt="" [src]="iconDelete" style="height: 25px" (click)="deleteFries()"></div>
  </div>
</div>
<hr/>
<h3>Drinks:</h3>
<hr/>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col-1" (click)="changeCoffeeCount()"><img alt="" [src]="iconDrink" style="height: 30px"></div>
    <div class="col" (click)="changeCoffeeCount()">Coffee</div>
    <div class="col" style="font-size: 12px">(Price: <b>70</b> KGS)</div>
    <div class="col">x{{ coffeeCount }}</div>
    <div class="col">Total: {{ getTotalCoffeeSum() }}</div>
    <div class="col text-right"><img alt="" [src]="iconDelete" style="height: 25px" (click)="deleteCoffee()"></div>
  </div>
</div>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col-1" (click)="changeTeaCount()"><img alt="" [src]="iconDrink" style="height: 30px"></div>
    <div class="col" (click)="changeTeaCount()">Tea</div>
    <div class="col" style="font-size: 12px">(Price: <b>50</b> KGS)</div>
    <div class="col">x{{ teaCount }}</div>
    <div class="col">Total: {{ getTotalTeaSum() }}</div>
    <div class="col text-right"><img alt="" [src]="iconDelete" style="height: 25px" (click)="deleteTea()"></div>
  </div>
</div>
<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col-1" (click)="changeColaCount()"><img alt="" [src]="iconDrink" style="height: 30px"></div>
    <div class="col" (click)="changeColaCount()">Cola</div>
    <div class="col" style="font-size: 12px">(Price: <b>40</b> KGS)</div>
    <div class="col">x{{ colaCount }}</div>
    <div class="col">Total: {{ getTotalColaSum() }}</div>
    <div class="col text-right"><img alt="" [src]="iconDelete" style="height: 25px" (click)="deleteCola()"></div>
  </div>
</div>
<hr/>
<p>Total price: <b>{{ getTotalHamburgerSum() + getTotalCheeseburgerSum() + getTotalFriesSum() + getTotalCoffeeSum() + getTotalTeaSum() + getTotalColaSum() }}</b> KGS</p>
